/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	    -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, a  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: black;
	font-family: "brother-1816",sans-serif;
	font-weight: 100 !important;
	word-wrap: break-word;
	overflow: hidden; 
	list-style: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    line-height: 1.2;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1;
    height: 100%;
	width: 100%;
	overflow-y:scroll; 
}

.single-procedure ol {
	padding-left: 36px;
}
.single-procedure ol li {
	padding-left: 18px;
    list-style-type: decimal;
    overflow: visible;
    margin-bottom: 18px;
}

.single-procedure ul {
	margin-top: 9px;
	padding-left: 18px;
}
.single-procedure ul li {
	padding-left: 9px;
    list-style-type: disc;
    overflow: visible;
    margin-bottom: 9px;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    font-size: inherit;
}

input, button, submit { border:none; padding: 0; background: none;}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

td {
	vertical-align:middle;
}

a, a:hover {
	text-decoration: none;
}

img {
	width: 100%;
}

svg {
	vertical-align: middle;
}

/*

Basics

*/
/*
.icon {
	display: inline-block;
	width: 36px;
}
*/
	
h1 {
	font-weight: 100;
	font-size: 270%;
	margin-bottom: 18px;
}

h2 {
	font-size: 175%;
	text-transform: uppercase;
	margin-bottom: 12px;
	margin-top: 12px;
}

h3 {
	font-size: 100%;
	text-transform: uppercase;
	color: #C18A8B;
	margin-bottom: 12px;
	margin-top: 12px;
}

h4 {
	font-size: 100%;
	text-transform: uppercase;
	color: #C18A8B;
	margin-bottom: 12px;
	margin-top: 12px;
}

.button {
	cursor: pointer;
}

.button:hover *{
	color: #881719 !important;
	stroke: #881719 !important;
}

.button:hover{
	color: #881719 !important;
	text-decoration: none;
}

.button span, .button label {
	vertical-align: middle;
}
/*
    Shortcuts
*/

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.trait {
	height: 1px;
}

.trait2px {
	height: 2px;
}

.trait-rouge{
  background-color: #841618;
}

.trait-rose{
  background-color: #F4D3E2;
}

.margin-top{
	margin-top: 36px;
}

/*
	Menu layout + animation
*/

#sidebar {
	float: left;
	width: 36px;
	max-width: 500px;
	height: 100%;
	background-color:#F4D3E2;
	overflow-y: scroll;
	position: relative;
}

#page {
	height: 100%;
	overflow-y: scroll;
    position: relative;
}



#page-header-and-content {
	min-height: calc( 100% - 6rem );
	position: relative;
    margin: 0;
}

#footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: #FFF6FF;
    text-align: center;
}


#content {
	padding: 36px;
}


/*Align menu button with site title*/
#menu-button-bar {
    position: absolute;
    top: 17px;
    right: 6px;
}


#menu-close-button {
	display: none;
}

input:checked ~ #sidebar {
	width: 50%;
}

input:checked ~ #sidebar #menu-close-button{
	display: inherit;
}

input:checked ~ #sidebar #menu-open-button{
	display: none;
}

/*Fix header bar buttons alignment on chrome*/
#header-button-bar div label {
    line-height: 36px;
    height: 36px;
    overflow: visible;
    vertical-align: middle;
}


/*fix link focus state*/
a:focus {
    color:#881719 !important
    text-decoration:none!important;
}


/*
	Page title
*/

#page-title {
    padding-left: 36px;
    padding-right: 36px;
    padding-top:12px;
    padding-bottom: 12px;
    font-weight: 100;
    font-size: 1.4em;
    background-color: #FFF6FF;
    text-transform: uppercase;
}

#header-button-bar > div {
    display: inline-block;
    margin-left: 10px;
}

.accueil-subtiltle {
	display: block;
	font-size: 1.2em;
	margin-top: 40px;
	margin-bottom: 30px;
}

/*
    Search and bottom Bar
 */

.top-button-bar {
    background-color:#F4D3E2;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    display: none;
}

#search-bar form {
	flex: 2;
	display: flex;
}

#search-bar input {
	line-height: 4em;
	flex: 2;
	background-color:#F4D3E2;
    text-transform: uppercase;
    margin-left: 4px;
}

#search-bar label {
	line-height: 4em;
}

#search-bar .button {
    float: right;
}

#search-input:checked ~ #search-bar {
    display: flex;
}


/*
	Share bar

*/

#share-bar {
	background-color: none;
    display: none;
    text-transform: uppercase;
}

#share-buttons-container {
	display: inline-block;
	background-color:#F4D3E2;
    float: right;
}

#share-buttons-container span {
    display: inline-block;
    line-height: 36px;
    vertical-align: middle;
}

#share-buttons-container a {
    display: block;
    margin: 0 3px;
}


#share-buttons-container span:first-child  {
	margin-right: 12px;
}


/*Share buttons bar absolute positioning*/
#share-input:checked ~ #share-bar {
    display: block;
    position: absolute;
    right: 0;
}


/*

 Single Use

 */

.post-title {
	margin-bottom: 30px;
}

.post-title-1 {
	margin-top: 40px;
}

.post-title-2 {
	margin-top: 30px;
}



.use-trait {
	margin-top: 40px;
}

.list-utilisations-liees {
	list-style: inherit;
}

.list-utilisations-liees li {
	margin-bottom: 8px;
}

.definition {
	text-decoration: underline;
}

.definition:hover {
	text-decoration: underline !important;
	color: #881719 !important;
}

.single-procedure ul {
    margin-top: 9px;
    padding-left: 18px;
    overflow: visible;
}

/*

Definition page

*/

.definition-container {
	margin-bottom: 30px;
}

.lexique-letter {
	padding-right: 5px;
	padding-left: 5px;
	font-size: 130%;
	font-style: italic;
}

.definition-list {
	margin-top: 2em;
}

#letters td:not(:first-child)::before {
    text-align: center;
    content: ".";
}
.header-title-container {
  width: 80%;
}

.header-buttons-container {
	width: 20%;
	text-align: right;
}
