.content-search-container {
    padding-bottom: 20px;
}

.content-search-container a {
    display: block;
}

.content-search-lire-la-suite {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #AB6062;
    font-weight: bold;
}